<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top card-2 row">
  <a class="navbar-brand" href="#">CHASE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let item of NavItems">
        <!-- <a class="nav-link" [routerLink]="item.route">{{item.DisplayName}}</a> -->
      </li>
    </ul>
    <span class="navbar-text mx-auto">
     SKILL MATRIX
    </span>
  </div>
</nav>